.status {
    margin-top: 10rem;
    width: 60rem;
    background-color: #ffffff;
    top: 25rem;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 1.5rem;
    z-index: 60;
    overflow: hidden;
}
.statusHeader {
    padding: 1.5rem 2.5rem;
    display: flex;
    align-items: center;
    border: 0.1rem solid #eee;
    .iconTimes {
        cursor: pointer;
        margin-right: auto;
    }
}
.statusBody {
    display: flex;
    padding: 2rem 1.5rem 1rem 1.5rem;
}
.statusInput {
    width: 100%;
    padding: 1rem;
    background-color: #d6e1e9;
    border: 0.1rem solid #eee;
    border-radius: 1.5rem;
    font-size: 1.6rem;
    max-height: 40rem;
    overflow: auto;
    &:focus {
        background-color: #ffffff;
        border-color: #1aa1f5;
    }
}
.statusInput[placeholder]:empty:before {
    content: attr(placeholder);
    color: #9e9a9a;
}
.statusFooter {
    padding: 0 2rem 2rem 8rem;
}
.statusIcons {
    display: flex;
    align-items: center;
    padding: 0 0 1rem 1rem;
    .icon {
        margin-right: 1rem;
    }
}
