.verifyPage {
    width: 100%;
    height: 100vh;
    position: relative;
}
.verify {
    background-color: #ffffff;
    width: 50rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    overflow: hidden;
    @media only screen and (max-width: 800px) {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
.verifyContent {
    padding: 5rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.verifyContent h2 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    @media only screen and (max-width: 800px) {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}
.verifyForm {
    display: flex;
    flex-direction: column;
    label {
        font-size: 1.5rem;
        margin-right: 1rem;
    }
    a {
        text-decoration: none;
        font-size: 1.6rem;
        color: #1aa1f5;
    }
    input:focus {
        background-color: #d9ebf7;
    }
    p {
        font-size: 1.3rem;
        margin-bottom: .8rem;
    }
}
.verifyInput {
    width: 30rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}
.verifyFormWrapper {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    button {
        margin-right: 1rem;
    }
}
