.button {
    display: block;
    text-align: center;
    &:disabled,
    &:hover:disabled,
    &:active:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
.primary {
    background-color: #1aa1f5;
    border: 0.1rem solid #1aa1f5;
    color: #ffffff;
    &:hover {
        color: #ffffff;
        background-color: #1395e6;
    }
}
.primaryInverse {
    color: #1aa1f5;
    background-color: transparent;
    border: 0.1rem solid #1aa1f5;
    &:hover {
        background-color: #1aa1f5;
        color: #ffffff;
    }
}

.secondary {
    background-color: #0f5d8d;
    border: 0.1rem solid #0f5d8d;
    color: #ffffff;
    &:hover {
        color: #ffffff;
    }
}
.tertiary {
    background-color: #d9ebf7;
    border: 0.1rem solid #d9ebf7;
}

.default {
    background-color: #959b9f;
    border: 0.1rem solid #959b9f;
    color: #ffffff;
}
.danger {
    background-color: #f07c96;
    border: 0.1rem solid #f07c96;
    color: #ffffff;
    &:hover {
        color: #ffffff;
        background-color: #e86f89;
    }
}

.small {
    width: 8rem;
    padding: 0.6rem 0.5rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.pillSmall {
    border-radius: 3rem;
}
.long {
    margin: 0.8rem 0;
    padding: 1rem;
    border: 0.1rem solid #1aa1f5;
    font-size: 1.6rem;
    cursor: pointer;
}
.pillLong {
    border-radius: 4rem;
}
