.registerPage {
    width: 100%;
    height: 100vh;
    position: relative;
}
.register {
    background-color: #ffffff;
    width: 70rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    overflow: hidden;
}
.registerContent {
    padding: 5rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registerContent h2 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.registerForm {
    display: flex;
    flex-direction: column;
    label {
        font-size: 1.6rem;
        margin-right: 1rem;
    }
    a {
        text-decoration: none;
        font-size: 1.6rem;
        color: #1aa1f5;
    }
    button {
        margin: 0 1rem 0 1rem;
    }
}
.registerInput {
    width: 30rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}
// .registerInputEmail {
//     width: inherit;
//     height: 3.5rem;
//     margin-bottom: 1rem;
//     border: 0.1rem solid #ddd;
//     border-radius: 0.5rem;
//     padding-left: 1rem;
//     padding-right: 0;
//     font-size: 1.5rem;
//     transition: background-color 0.3s;
// }
.registerInputWrapper {
    display: flex;
    justify-items: center;
    @media only screen and(max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}
.registerFooter {
    background-color: #edf3f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 10rem;
}
.registerFooter {
    p {
        font-size: 1.6rem;
        font-weight: 300;
        margin: 0.5rem 0;
        &:last-child {
            font-size: 1.2rem;
            padding: 0 2rem 0 2rem;
        }
    }
    a {
        text-decoration: none;
        color: #1aa1f5;
        margin-left: 0.5rem;
    }
}
// .passIconEye {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
// }
// .iconEye {
//     position: absolute;
//     top: 4.5rem;
//     right: 1rem;
// }
