.registerPage {
    width: 100%;
    height: 100vh;
    position: relative;
}
.register {
    background-color: #ffffff;
    width: 70rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    overflow: hidden;
    @media only screen and (max-width: 800px) {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
.registerContent {
    padding: 5rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registerContent h2 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    @media only screen and (max-width: 800px) {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}
.registerForm {
    display: flex;
    flex-direction: column;
    label {
        font-size: 1.6rem;
        margin-right: 1rem;
        @media only screen and (max-width: 800px) {
            font-size: 1.3rem;
            margin-right: 0.5rem;
        }
    }
    a {
        text-decoration: none;
        font-size: 1.6rem;
        color: #1aa1f5;
    }
    
    p {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
    }
}
.registerInput {
    width: 30rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    @media only screen and (max-width: 800px) {
        font-size: 1.2rem;
        height: 2.7rem;
        margin-bottom: 0.5rem;
    }
}
.registerInputEmail {
    height: 3.5rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    width: 100%;
    @media only screen and (max-width: 800px) {
        width: 30rem;
        font-size: 1.2rem;
        height: 2.7rem;
        margin-bottom: 0.5rem;
    }
}
.registerInputWrapper {
    display: flex;
    justify-items: center;
    @media only screen and(max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}
.registerFooter {
    background-color: #edf3f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 10rem;
    p {
        font-size: 1.6rem;
        font-weight: 300;
        margin: 0.5rem 0;
        &:last-child {
            font-size: 1.2rem;
            padding: 0 2rem 0 2rem;
        }
    }
    a {
        text-decoration: none;
        color: #1aa1f5;
        margin-left: 0.5rem;
    }
    @media only screen and (max-width: 800px) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 8rem;
        p {
            font-size: 1.2rem;
            font-weight: 300;
            margin: 0.5rem 0;
            &:last-child {
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }
    }
}
.mMedium {
    margin-right: var(--mMedium);
}

.ml-sm {
    margin-left: 2rem;
    @media only screen and (max-width: 800px) {
        margin-left: 0;
    }
}
