.friend {
    position: fixed;
    top: 8rem;
    left: 57%;
    background-color: #fff;
    width: 35rem;
    margin-left: 4rem;
    @media only screen and(max-width: 1083px) {
        display: none;
    }
}
.friendHeading {
    padding: 1rem;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid #eee;
    text-transform: capitalize;
}
.friendUser {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 0.1rem solid #eee;
}
.friendUserInfo {
    h4,
    p {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }
}
.friendLink {
    margin: 2rem 1rem;
    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: #1aa1f5;
    }
}
.friendFooter {
    background-color: #f0f8fd;
    ul {
        list-style: none;
        display: flex;
        padding: 2rem 0;
    }
    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: #868383;
        margin: 0 0.7rem;
    }
}
