.formControl {
  margin: 0.2rem 0;
  p {
    display: inline-block;
  }
  input,
  textarea {
    display: block;
  }
  label {
    display: block;
    margin-bottom: 0.6rem;
  }
  input:focus,
  textarea:focus {
    background-color: #d9ebf7;
  }
}

.invalidInput {
  p {
    color: red;
    padding: 0;
    margin-top: 0.2rem;
  }
  input {
    border-color: red;
    background: #ffd1d1;
  }
  textarea {
    border-color: red;
    background: #ffd1d1;
  }
}