.commentInputBox {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    position: relative;
    p {
        width: 40rem;
        border: none;
        outline: none;
        padding: 0.8rem;
        border: 0.1rem solid #d9ebf7;
        font-size: 1.5rem;
        border-radius: 1.5rem;
        word-wrap: break-word;
        &[placeholder]:empty:before {
            content: attr(placeholder);
            color: #9e9a9a;
        }
        &:focus {
            background-color: #d9ebf7;
        }
    }
    .smileIcon {
        position: absolute;
        right: 1.5rem;
        bottom: 1rem;
    }
}
