@use './assets/styles/base.scss';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f0f8fd;
  color: black;
}
