// Colors

$primary: '#1aa1f5';
$secondary: '#6d767d';
$success: '#28a845';
$danger: '#f23952';
$warning: '#f3b811';
$info: '#15a3b8';
$body: '#f0f8fd';
// $primaryLight: '#1498e5';
// $primaryLighter: '#d9ebf7';
// $primaryDarker: '#0f5d8d';
$white: '#ffffff';
$black: '#000000';
$backDrop: rgba(0, 0, 0, 0.5);

